.contenedorCuerpo {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.contenedorCuerpo {
		flex-direction: row;
		justify-content: space-between;
		transition: all ease 0.4s;
	}
}

.contenedorTexto {
	margin-bottom: 5rem;
}
@media (min-width: 768px) {
	.contenedorTexto {
		margin-right: 4rem;
		min-width: 10rem;
		max-width: 30vw;
		transition: all ease 0.4s;
	}
}
.descripcion {
   font-size: 1.8rem;
	font-weight: 400;
   margin-bottom: 2rem;
	line-height: 2.5rem;
}

.contenedorTabla {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	gap: 2rem;
	flex-direction: column;
	transition: all ease 0.4s;
	width: 100%;
}
.contenedorTitulos {
	align-self: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto 2rem auto;
	row-gap: 4rem;
}
@media (min-width: 480px) and (max-width: 767px) {
	.contenedorTitulos {
		flex-direction: row;
		column-gap: 5vw;
		margin: 0 0 2rem 0;
	}
}
@media (min-width: 768px) {
	.contenedorTitulos {
		flex-direction: column;
		margin: 0 auto 2rem auto;
		row-gap: 4rem;
		transition: all ease 0.4s;
	}
}
@media (min-width: 910px) {
	.contenedorTitulos {
		flex-direction: row;
		width: max-content;
		justify-content: space-between;
	}
}
.button {
	color: var(--rojoP);
	font-weight: 200;
	font-size: 2rem;
	background-color: transparent;
	border-color:  var(--rojoP);
	padding-left: 2rem;
	padding-right: 2rem;
}
.button:hover {
	color: white;
	border-color:  white;
}
.buttonActive {
	color: white;
	border-color: white;
}
.in{
	animation: blurIn .1s linear both;
} 
.out{
	animation: blurOut .1s linear both
} 
@keyframes blurOut{
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	} 
	100% {
		-webkit-transform: scale(.85);
		transform: scale(.85);
		opacity:0;
	}
}
@keyframes blurIn{
	0% {
		-webkit-transform: scale(.85);
		transform: scale(.85);
		opacity:0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	} 
}

.listado {
	width: 100%;
	margin: 0 auto;
}
.nombre {
	font-size: 1.8rem;
	margin-right: 1rem;
	font-weight: 700;
	line-height: 2.2rem;
}
.textAlignRight {
	align-self: flex-end;
   display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: max-content;
}
.fecha {
   width: max-content;
	color: var(--rojoC);
}
.institucion {
	text-transform: uppercase;
	width: max-content;
	margin-top: .4rem;
	color: var(--rojoC);
}